extends layout

block content
 hgroup.title
      h1 Contactez-nous
    section.contact
      div
        section.col-lg-6
          form.form-group(role='form')
            fieldset
              span.label.label-default Votre nom
              input.form-control(type='text', placeholder='Votre nom ici')
              span.label.label-default votre Email
              input.form-control(type='email', placeholder='Votre email ici')
              label(for='textarea') Votre message :
              textarea#textarea.form-control(rows='4')
              a(href='#', style='display: inline-block;background: #0c3464;color: #fff;padding: 8px 15px;text-decoration: none;') Envoyer
        aside.col-lg-6
          h2 Informations pratiques
          p
            | Si vous etes interesses par nos offres n'hesitez pas a nous contacter au a vous rendre a notre siege

